$background: #DCBE9B;
$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$fontColor: #000;
$contentBackground: #FFF;
$contentH1FontColor: #7f3700;
$h2FontStyle: italic;
$contentH2FontColor: lighten(#7f3700, 5%);
$imgBorder: solid 2px #7f3700;
$imgPadding: 2px; 
$briefBackground: #FADCBA;
$briefWidth: 30%;
$tableWidth: 75%;
$thBackground: #E0E0E0;
$thBorderLeft: solid 2px #FFF;
$trBorderBottom: solid 1px #E0E0E0;
