$background: #659A01;
$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$fontColor: #FFF;
$contentBackground: #666701;
$contentH1FontColor: #F6C509;
$contentH2FontColor: lighten(#F6C509, 5%);
$imgBorder: solid 1px #FFF;
$imgPadding: 10px; 
$briefBackground: #677D01;
$hrefColor: #FFCB05;
$tableWidth: 100%;
$thBackground: #94A34E;
$trBackground: #677D01;
$trBorderBottom: solid 1px #B4BF83;





