* {
	margin: 0;
	padding: 0;
}

main {
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

.textInput{
	width: 380px;
	padding: 10px;
	margin: 10px 0;
}

.arithmeticButton {
	width: 400px;
	padding: 10px;
	margin: 10px 0;
}
.resultLabel {
	display: inline-block;
	width: 400px;
	text-align: left;
	font-size: 16pt;
}



